<template name="chatPage">
  <div class="card-page page">
    {{> chatItem}}
    <ul class="messages">
      {{#each messages}}
        {{> messageItem}}
      {{/each}}
    </ul>
    <a href="skype:{{initiatorSkype}}?call&video=true" class="btn btn-primary">Call</a>
    {{> messageSubmit}}
  </div>
</template>

<template name="messageItem">
  <li>
    <h4>
      <span class="author">{{name}}</span>
      <span class="date">on {{submitted}}</span>
    </h4>
    <p>{{msg}}</p>
  </li>
</template>

<template name="messageSubmit">
  <form name="message" class="message-form form">
        <textarea name="msg" id="msg" class="form-control" rows="3"></textarea>
    <button type="submit" class="btn btn-primary">Send!</button>
  </form>
</template>

<template name="skype">
  <div id="genSkypeCall">
  </div>
</template>
