<template name="chatPage">
  <div class="card-page page">
    <h3>{{them}}</h3>
    <ul class="messages">
      {{#each messages}}
      {{> messageItem}}
      {{/each}}
    </ul>
    <a href="skype:{{initiatorSkype}}?call&video=true" class="btn btn-primary">Call</a>
    {{> messageSubmit}}
  </div>
</template>

<template name="messageItem">
  <div class="{{whoIs}} msg">
    <li>
      <h4>
        <span class="author">{{participant}}</span>
      </h4>
      <span class="date">{{submitted}}</span>
      <p>{{msg}}</p>
    </li>
  </div>
</template>

<template name="messageSubmit">
  <form name="message" class="message-form form">
    <textarea name="msg" id="msg" class="form-control" rows="3"></textarea>
    <button type="submit" class="btn btn-primary">Send!</button>
  </form>
</template>

<template name="skype">
  <div id="genSkypeCall">
  </div>
</template>
